body {
    color: rgb(34, 1, 1);
    background: rgb(221, 42, 42);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
  }
  
  header {
    border-bottom: solid 2px rgb(0, 5, 1);
    padding: 20px;
    font-size: 32px;
    color: rgb(5, 39, 13);
  }
  
  .chamada {
    background: rgb(194, 206, 193);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content:center;
  }
  
  .chamada-texto {
    margin-right: 3%;
  }
  
  h1 {
    font-size: 30px;
  }
  
  p {
    font-size: 20px;
  }
img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;

}
 .categoria-videos img {
    opacity: 0.5;

 }
 .categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid darkgreen;
 }

 .categoria h2{
    color:rgb(0, 0, 0);
 }